.placeholder::placeholder {
    color: #7126B5;
}

.datePicker {
    width: 140px;
    cursor: pointer;
    outline: none;
}

.active {
    color: white;
}

.inactive {
    color: #808080;
}

.bgPurple {
    background-color: #7126B5;
}

.bgLightPurple {
    background-color: #E2D4F0;
}